@import "tailwindcss";

@plugin "tailwindcss-animate";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --color-seasalt: #f7f7f8;
  --color-alabaster: #b8b9c1;
  --color-dim_gray: #6d7074;
  --color-oxford_blue: #021327;
  --color-oxford_blue_2: #042347;
  --color-polynesian_blue: #094d9a;
  --color-picto-color: #094d9a;
  --color-syracuse_red_orange: #db4200;
  --button-color: rgba(219, 66, 0, 1);
  --heading-h5-font-family: "Figtree", Helvetica;
  --heading-h5-font-size: 16px;
  --heading-h5-font-style: normal;
  --heading-h5-font-weight: 500;
  --heading-h5-letter-spacing: 0px;
  --heading-h5-line-height: 24px;
  --label-medium-font-family: "Figtree", Helvetica;
  --label-medium-font-size: 16px;
  --label-medium-font-style: normal;
  --label-medium-font-weight: 500;
  --label-medium-letter-spacing: 0px;
  --label-medium-line-height: 24px;
  --label-smaller-font-family: "Figtree", Helvetica;
  --label-smaller-font-size: 12px;
  --label-smaller-font-style: normal;
  --label-smaller-font-weight: 500;
  --label-smaller-letter-spacing: 0px;
  --label-smaller-line-height: 16px;
  --picto-color: rgba(9, 77, 154, 1);
  --placeholder-color: rgba(184, 185, 193, 1);
  --subtitle-color: rgba(109, 112, 116, 1);
  --text-bold-medium-font-family: "Figtree", Helvetica;
  --text-bold-medium-font-size: 16px;
  --text-bold-medium-font-style: normal;
  --text-bold-medium-font-weight: 700;
  --text-bold-medium-letter-spacing: 0px;
  --text-bold-medium-line-height: 24px;
  --text-color: rgba(2, 19, 39, 1);
  --text-medium-font-family: "Figtree", Helvetica;
  --text-medium-font-size: 16px;
  --text-medium-font-style: normal;
  --text-medium-font-weight: 400;
  --text-medium-letter-spacing: 0px;
  --text-medium-line-height: 24px;
  --text-smaller-font-family: "Figtree", Helvetica;
  --text-smaller-font-size: 12px;
  --text-smaller-font-style: normal;
  --text-smaller-font-weight: 400;
  --text-smaller-letter-spacing: 0px;
  --text-smaller-line-height: 16px;
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: var(--color-oxford_blue);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

@theme inline {
  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
  --animate-hover-bounce: hover-bounce 0.1s ease forwards;
  @keyframes hover-bounce {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    50% {
      opacity: 0;
      transform: translateY(-20px);
    }

    51% {
      opacity: 1;
      transform: translateY(20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --animate-hover-bounce-reverse: hover-bounce-reverse 0.1s ease forwards;
  @keyframes hover-bounce-reverse {
    0% {
      opacity: 1;
      transform: translateY(0);
    }

    50% {
      opacity: 0;
      transform: translateY(20px);
    }

    51% {
      opacity: 1;
      transform: translateY(-20px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-seasalt: #f7f7f8;
  --color-alabaster: #b8b9c1;
  --color-dim_gray: #6d7074;
  --color-oxford_blue: #021327;
  --color-oxford_blue_2: #042347;
  --color-polynesian_blue: #094d9a;
  --color-picto-color: #094d9a;
  --color-syracuse_red_orange: #db4200;
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-figtree), "Figtree", Helvetica, sans-serif;
  }
}

:root {
  --animate-spin: spin 1s linear infinite;
}

.animate-fade-in {
  animation: fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-custom-fade-in {
  animation: custom-fade-in 1s var(--animation-delay, 0s) ease forwards;
}

.animate-hover-bounce {
  animation: hover-bounce 0.6s var(--animation-delay, 0s) ease forwards;
}

.animate-hover-bounce-reverse {
  animation: hover-bounce-reverse 0.6s var(--animation-delay, 0s) ease forwards;
}

.animate-fade-up {
  animation: fade-up 1s var(--animation-delay, 0s) ease forwards;
}

.animate-marquee {
  animation: marquee var(--duration) infinite linear;
}

.animate-marquee-vertical {
  animation: marquee-vertical var(--duration) linear infinite;
}

.animate-shimmer {
  animation: shimmer 8s infinite;
}

.animate-spin {
  animation: var(--animate-spin);
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

@keyframes image-glow {
  0% {
    opacity: 0;
    animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
  }

  10% {
    opacity: 0.7;
    animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
  }

  to {
    opacity: 0.4;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes custom-fade-in {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }

  50% {
    opacity: 0;
    transform: translateY(-20px);
  }

  55% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes hover-bounce {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  50% {
    opacity: 0;
    transform: translateY(-20px);
  }

  55% {
    opacity: 1;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes shimmer {
  0%,
  90%,
  to {
    background-position: calc(-100% - var(--shimmer-width)) 0;
  }

  30%,
  60% {
    background-position: calc(100% + var(--shimmer-width)) 0;
  }
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(0);
  }

  to {
    transform: translateY(calc(-100% - var(--gap)));
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}
